{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Confirmar Eliminación de Tarea</title>{% endblock %}

{% block content %}
<section class="container py-5">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Confirmar Eliminación</h2>
      <p>¿Estás seguro de que deseas eliminar la tarea "{{ tarea.titulo }}"?</p>

      <div class="btn-group">
        <a href="{% url 'Tareaslista' %}" class="btn btn-secondary">Cancelar</a>
        <a href="{% url 'eliminar_tarea' tarea.id %}" class="btn btn-danger">Eliminar</a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
