{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Detalle de Tarea</title>{% endblock %}

{% block content %}
<section class="container py-5">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">{{ tarea.titulo }}</h2>
      <p>Descripción: {{ tarea.descripcion }}</p>
      <p>Estado: {{ tarea.get_estado_display }}</p>
      <p>Categoría: {{ tarea.etiqueta }}</p>
      <p>Fecha límite: {{ tarea.fecha_limite }}</p>

      <form method="POST">
        {% csrf_token %}
        <p>Observaciones: </p>
        {{ form.observaciones }}
        <button type="submit">Guardar</button>
      </form>
      

      <div class="btn-group">
        <a href="{% url 'tarea_editar' tarea.id %}" class="btn btn-primary">Editar</a>
        <a href="{% url 'confirmar_eliminar_tarea' tarea.id %}" class="btn btn-danger">Eliminar</a>
        <a href="{% url 'confirmar_completar_tarea' tarea.id %}" class="btn btn-success">Completar</a>
        <a href="{% url 'Tareaslista' %}" class="btn btn-secondary">Retornar</a>
      </div>
    </div>
  </div>
</section>


  
{% endblock %}